<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="appName" value="GramBoard" />

  <extensions>
    <add assembly="DominatorHouseCore"/>
  </extensions>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target xsi:type="NlogUiTarget" name="ui" layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File"
                 name="default"
                 layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
                 concurrentWrites="true"
                 keepFileOpen="true"
                 fileName="${specialfolder:LocalApplicationData}\${appName}\logs\${appName}_${shortdate}.log"
                 archiveFileName="${specialfolder:LocalApplicationData}\${appName}\logs\${appName}_${shortdate}.{##}.log"
                 archiveNumbering="Sequence"
                 archiveEvery="Day"
                 maxArchiveFiles="30"
            />
    <target xsi:type="File"
            name="defaultDebug"  concurrentWrites="true"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            keepFileOpen="true"
            fileName="${specialfolder:LocalApplicationData}\${appName}\logs\${appName}Debug_${shortdate}.log"
            archiveFileName="${specialfolder:LocalApplicationData}\${appName}\logs\${appName}Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
    />
  
    
    <target xsi:type="EventLog"
            name="eventlog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
       layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="*" writeTo="default" minlevel="Info" />-->
    <logger name="*" writeTo="defaultDebug" minlevel="Debug" level="Debug" />
    <logger name="*" writeTo="eventlog" minlevel="Error" level="Error" />
    <logger name="*" writeTo="ui" minlevel="Info" level="Info" />
    <logger name="*" writeTo="ui" minlevel="Error" level="Error" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
